@import '../../variables.scss';

@font-face {
    font-family: 'Doto';
    src: url('/Doto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header {
    background-color: #1b011c;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $header-height;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    font-family: 'Doto';

    button {
      font-family: 'Doto';
      font-weight: bold;
      font-size: 1.2rem;
    }

    &.scrolled {
      box-shadow: 0 2px 8px #000000cc;
    }

}

#menu-toggle {
    display: none; // oculto por defecto (desktop)
}

@media (max-width: 768px) {

    h1 {
        line-height: 1.4rem;
        margin-left: 1rem;
    }

    #header-buttons {
        display: none; // se ocultan los botones normales
    }

    #menu-toggle {
        display: inline-flex; // aparece la hamburguesa
    }
}