#hero {
    background: linear-gradient(#1b011c, #260227e9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    clip-path: polygon(100% 0%, 100% 70%, 0% 100%, 0% 0%);
    padding-bottom: 8rem;
}

#hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    word-spacing: 8rem;
    line-height: 1.2;
    text-align: center;
}

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hero-description {
    flex: 1;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    max-width: 80%;
    word-spacing: 0.5rem;
    line-height: 2.5rem;
}

#hero-cv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #hero {
        clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0% 0%);
    }

    #hero-title {
        font-size: 2.5rem;
        word-spacing: 0.5rem;
    }

    #hero-description {
        font-size: 1.4rem;
        max-width: 90%;
    }
}   