// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// import Swiper and modules styles
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@font-face {
    font-family: 'Doto';
    src: url('/Doto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('/LeagueSpartan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin; 
  scrollbar-color: #8000ff #410553; 
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.chips-overrides((
    label-text-color: #8000ff,
    outline-color: #410553,
    hover-state-layer-color: #e96b0a,
  ));
  @include mat.menu-overrides((
    container-shape: 12px,
    divider-color: #410553,
    container-color: #a900a9,
    item-label-text-color: #ffffff,
    item-icon-color: #ffffff,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
/* You can add global styles to this file, and also import other style files */

h2 {
  font-family: 'Doto';
  font-weight: 900;
}

h3 {
  font-family: 'LeagueSpartan';
}

p {
  font-family: 'LeagueSpartan';
}